header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
   
}
.fisrt-header{
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    row-gap: 50px;
    z-index: 100;
}
.asus-logo{
    margin-top: 17px;
    width: 200px;
    margin-left: 130px;
    margin-bottom: 20px;
    cursor: pointer;
   
}
.header-first-section{
    flex: 860px;
  
}
ul{
    justify-content: space-between;
    align-items: left;
}
.header-second-section{
    display: flex;
    flex-direction: row;
    flex: 556px;
    row-gap: 30px;
    

    
    
}

ul a{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
    margin-left: -10px;
    cursor: pointer;

}
.icons{
    justify-content: space-between;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
    width: 100px
}
.search-icon{

}
.kart-icon{

}
.p-icon{

}
.main-flex{
display: flex;
flex-direction: column;
width: 100%;
margin-top: 50px;
height: 100vh;
flex: 1;
}
.first-pic-section{
    flex: 1;
}
.second-pic-section{
    flex: 1;
}
.first-pic{
    width: 100%;
    height: 690px;
    object-fit: cover;
    cursor: pointer;
}
.second-pic{
    width: 100%;
    height: 690px;
    object-fit: cover;
    cursor: pointer;
    
}
.third-section-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    
}
.third-section-one{
    
    flex: 1;

}
.third-section-two{
    
    flex: 1;

}
.third-section-three{
    
    flex: 1;

}
.third-section-four{
    
    flex: 1;

}
.pic-third-one{
    width: 100%;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 25px;
}
.pic-third-two{
    width: 100%;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 25px;

}
.pic-third-three{
    width: 100%;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 25px;
}
.pic-third-fourth{
    width: 100%;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 25px;

}
.pic-one-text{
    position: absolute;
    margin-top: 50px;
    margin-left: 10%;
    cursor: pointer;
    

}
.pic-two-text{
    position:absolute ;
    margin-top: 50px;
    margin-left: 10%;
    cursor: pointer;
}
.pic-three-text{
    position:absolute ;
    margin-top: 50px;
    margin-left: 10%;
    cursor: pointer;
    
}
.pic-forth-text{
    position:absolute ;
    margin-top: 50px;
    margin-left: 10%;
    cursor: pointer;

}
.text-third-section{
    position: absolute;
    margin-left: 20%;
    margin-top: 8%;
    font-family: Arial;
    font-weight: 300;
    cursor: pointer;
    color: gray;  
}
.second-flex{
    display: grid;
    grid-template-rows: 1fr 300px;
    height:50px;
}
.camapign-section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;

}
.camp-section-text{
    font-family: arial;
}
.campaign-pic-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 25px;
}
.camaign-pic-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}

.camp-pic-1{
    width: 404px;
    
    flex: 1;
    

}
.camp-pic-2{
    width: 404px;
    
    flex: 1;
}
.footer-first{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-first-section{
    display: flex;
    flex-direction: column;
    margin-top: 125px;
}
.footer-first-section-one{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.ft-first-pic-section{
    margin-bottom: ;

}
.shipping-icon{
    margin-top: 20px;
    object-fit: cover;

}
.footer-first-section-two{
    display: grid;
    grid-template-columns: 50px 1fr;

}
.footer-second{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(246, 246, 246);
}
.ft-left{
    display: flex;
    flex: 1;
    column-gap: 60px;


}
.ft-right{
    display:flex ;
    flex: 1;
    column-gap: 60px;

}
ul{
    list-style-type: none;
}
li{
    font-family: url('https://fonts.cdnfonts.com/css/tt-norms-pro');
    font-size: 14px;
    margin-left: -30px;
    
}
h4{
    font-family: url('https://fonts.cdnfonts.com/css/tt-norms-pro');
}
